body {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    background-image: url("https://img.freepik.com/free-vector/digital-technology-background-with-blue-orange-light-effect_1017-27423.jpg?w=1380&t=st=1680683158~exp=1680683758~hmac=cd1cf38e8473007623061f37d5bafa483db72f9a35ab15d29533f79c36f5a6b0");
    height: 750px;
  width: 1550px;
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
  }
  
  
  .container {
    text-align: center;
    position: fixed;
    nav-down: auto;
    right: 547px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: rgb(55, 164, 188);
  }
  

    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #e1b9b9;
    outline: none;
  }
  

  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }